<div id="container">
    <div id="banner">
        <div id="text">USERS</div>
    </div>
    
    <div id="messageList">
          
        <div class="message friend">
          <div style="margin-left:10px;">
            username
            <div class="button sendMessageBtn"> SEND MESSAGE</div>
            <div class="detail">Posts: 6</div>
            <div class="detail">Friends: 6</div>
           </div>
        </div>

        <div class="message">
            <div style="margin-left:10px;">
              username
              <div class="button friendRequestBtn"> FRIEND REQUEST</div>
              <div class="detail">Posts: 6</div>
              <div class="detail">Friends: 6</div>
             </div>
          </div>
          <div class="message">
            <div style="margin-left:10px;">
              username
              <div class="button friendRequestBtn"> FRIEND REQUEST</div>
              <div class="detail">Posts: 6</div>
              <div class="detail">Friends: 6</div>
             </div>
          </div>
          <div class="message">
            <div style="margin-left:10px;">
              username
              <div class="button friendRequestBtn"> FRIEND REQUEST</div>
              <div class="detail">Posts: 6</div>
              <div class="detail">Friends: 6</div>
             </div>
          </div>
          <div class="message">
            <div style="margin-left:10px;">
              username
              <div class="button friendRequestBtn"> FRIEND REQUEST</div>
              <div class="detail">Posts: 6</div>
              <div class="detail">Friends: 6</div>
             </div>
          </div>
          <div class="message">
            <div style="margin-left:10px;">
              username
              <div class="button friendRequestBtn"> FRIEND REQUEST</div>
              <div class="detail">Posts: 6</div>
              <div class="detail">Friends: 6</div>
             </div>
          </div>
          <div class="message">
            <div style="margin-left:10px;">
              username
              <div class="button friendRequestBtn"> FRIEND REQUEST</div>
              <div class="detail">Posts: 6</div>
              <div class="detail">Friends: 6</div>
             </div>
          </div>
          <div class="message">
            <div style="margin-left:10px;">
              username
              <div class="button friendRequestBtn"> FRIEND REQUEST</div>
              <div class="detail">Posts: 6</div>
              <div class="detail">Friends: 6</div>
             </div>
          </div>
          <div class="message">
            <div style="margin-left:10px;">
              username
              <div class="button friendRequestBtn"> FRIEND REQUEST</div>
              <div class="detail">Posts: 6</div>
              <div class="detail">Friends: 6</div>
             </div>
          </div>
          <div class="message">
            <div style="margin-left:10px;">
              username
              <div class="button friendRequestBtn"> FRIEND REQUEST</div>
              <div class="detail">Posts: 6</div>
              <div class="detail">Friends: 6</div>
             </div>
          </div>
          

    </div>
 </div>
