<div id="container">
    <div id="banner">
        <div id="text">USERS</div>
    </div>
    <img  id="loader" *ngIf="this.loaderFlag==0" src="../../assets/loading.gif">
    <div id="messageList"*ngIf="this.loaderFlag==1">
          
      <div *ngFor="let user of this.usersToShow">
        <div class="message friend" *ngIf="this.checkFriend(user.username)">
          <div style="margin-left:10px;">
            {{user.username}}
            <div *ngIf="this.curUser!=null" class="button sendMessageBtn" (click)="navigateProfile(user.username)"> SEND MESSAGE</div>
            <div class="detail">Posts: {{this.getPostCount(user.username)}}</div>
            <div class="detail">Friends: {{user.friends.length || 0}}</div>
           </div>
        </div>

        <div class="message" *ngIf="!this.checkFriend(user.username)">
            <div style="margin-left:10px;">
              {{user.username}}
              <div *ngIf="this.curUser!=null" class="button friendRequestBtn" (click)="makeFriendRequest(user.username)"> FRIEND REQUEST</div>
              <div class="detail">Posts: {{this.getPostCount(user.username)}}</div>
              <div class="detail">Friends: {{user.friends.length || 0}}</div>
             </div>
          </div>
        </div>

    </div>
 </div>
