#container{
    margin-left:500px;
}
#banner{
    font-size: 60px;
    width: 429px;
    background-color: rgba(14, 10, 39, 0.596);
    transform-origin: 0 0;
    transform:rotate(90deg);
    margin-left: 70px;
}
#text{
    transform:rotate(180deg);
    letter-spacing: 40px;
    text-align: center;
    margin-right: 50px;
    color: white;
}
#messageList{
    display: flexbox;
    background-color: rgba(14, 10, 39, 0.301);
    overflow-x: hidden;
    overflow-y: auto;
    height:400px;
    width:750px;
    padding: 5px;
    margin-left: 70px;
    margin-top: -70px;
}
.message{
    background-color: rgb(184, 164, 56);
    font-size: 20px;
    color:white;
    padding:10px;
    margin-top: 5px;
    height:20px;
    width:710px;
    -webkit-border-radius: 1em;
}
#loader{
    height: 100px;
    width: 150px;
    margin-left: 380px;
    margin-top: 80px;
}
.button{
    border-block-style: solid;
    border-color: white;
    text-align: center;
    font-size: 15px;
    padding:10px;
    height:14px;
    width:200px;
    float:right;
    margin-top: -9px;
    margin-right: -6px;
    -webkit-border-radius: 1em;
}
.detail{
    border-block-style: solid;
    border-color: white;
    text-align: center;
    font-size: 15px;
    padding:10px;
    height:12px;
    width:70px;
    float:right;
    margin-top: -10px;
    margin-right: 0px;
    -webkit-border-radius: 1em;
}
.friend{
    background-color: rgb(49, 50, 141);
}
.sendMessageBtn{
    background-color: rgb(25, 127, 131);
}
.sendMessageBtn:hover {
    background-color: #11dbdbc5;
    cursor: pointer;
  }
  .friendRequestBtn{
    background-color: rgb(194, 81, 29);
}
.friendRequestBtn:hover {
    background-color: rgb(236, 153, 115);
    cursor: pointer;
  }


