#container{
    margin-left:500px;
}
#banner{
    font-size: 60px;
    width: 429px;
    background-color: rgba(14, 10, 39, 0.596);
    transform-origin: 0 0;
    transform:rotate(90deg);
    margin-left: 70px;
}
#text{
    transform:rotate(180deg);
    letter-spacing: 30px;
    text-align: center;
    margin-right: 40px;
    color: white;
}

#loader{
    height: 150px;
    width: 150px;
    margin-left: 70px;
}
#intro{
    width: 750px;
    font-size: 25px;
    margin:10px;
}
#container-content{
    margin-left: 100px;
    margin-top: -50px;
}
h2{
    margin:10px;
    text-decoration:underline;
}
.list{
    width:300px;
    margin-top: 5px;
    margin-left: 10px;
    font-size:23px;
}
.list:hover,.backBtn:hover{

    background-color: #a70f0fbe;
    cursor:pointer;
}
.backBtn{
    width:300px;
    margin-top: 5px;
    margin-left: 10px;
    font-size:15px;
}
img{
    height: max-content;
    width: max-content;
    margin-top: 10px;
}
.row{
    display:flex;
  flex-direction:row;
  }
.col{
    display:flex;
  flex-direction:column;
  }
  #imageOverlap{
    margin-top: 7px;
    margin-left: -133px;
  }
  #blueprint{
    width:160px;
    margin-top: -30px;
    margin-left: 500px;
  }

