<div id="container">
    <div id="banner">
        <div id="text">ABOUT</div>
    </div>
    <div id="messageList">
        <img  id="loader" *ngIf="loadFlag==0" src="../assets/letter.gif">
        <img  id="loader" *ngIf="loadFlag==0" src="../assets/loading.gif">
          <div *ngIf="loadFlag==1" class="message">the main body of a book or other piece of writing, as distinct from other material such as notes, appendices, and illustrations.
             "the pictures are clear and relate well to the text"</div>
         
          
    </div>
 </div>
