ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 100%;
    font-family: 'Courier New', Courier, monospace;
  }
  
  li {
   
    float:left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #1898a154;
  }
  .active:hover {
    background-color: #11dbdbc5;
    cursor: pointer;
  }
  .alert{
    background-color: #a70f0fbe;
  }
   .alert:hover {
    background-color: #ad4d4dbe;
  }
 