<ul>
    <li><a class="active" style="margin-left: 500px;" routerLink="wall">Wall</a></li>
    <li><a class="active"  routerLink="users">Users</a></li>
    <li><a class="active"  routerLink="about">About</a></li>
    <li><a class="active alert"  *ngIf="this.postboxFlag==1" routerLink="newMessage">New Message</a></li>
    
    <div >
<div *ngIf="!this.user?.username!">
    <li style="float:right"><a class="active" (click)="openRegister()">Register</a></li>
    <li style="float:right"><a class="active" (click)="openLogin()">Login</a></li>
    <li style="float:right"><a>anon</a></li>
</div>
<div *ngIf="this.user?.username!">
    <li style="float:right"><a class="active" (click)="logout()">Logout</a></li>
    <li style="float:right"><a class="active" routerLink="profile" >Profile</a></li>
    <li style="float:right"><a>{{this.user?.username!}}</a></li>
</div>
   </div>
   
</ul>