<ul>
    <li><a class="active" style="margin-left: 500px;" routerLink="wall">Wall</a></li>
    <li><a class="active"  routerLink="users">Users</a></li>
    <li><a class="active"  routerLink="about">About</a></li>
    <li><a class="active alert"  routerLink="newMessage">New Message</a></li>
    
    <div >
    <li style="float:right"><a class="active" (click)="openRegister()">Register</a></li>
    <li style="float:right"><a class="active" (click)="openLogin()">Login</a></li>
    <li style="float:right"><a class="active" routerLink="profile">Profile</a></li>
    <li style="float:right"><a>username</a></li>
    </div>

  <!--  <div *ngIf="readLocalStorageValue('token')">
        <li style="float:right"><a class="active" routerLink="logout">Logout</a></li>
        <li style="float:right"><a class="active" routerLink="profile">Profile</a></li>
        <li style="float:right"><a *ngIf="getUsername()=='admin'" class="active" routerLink="addBook">Add Book</a></li>
        <li style="float:right"><a>{{getUsername()}}</a></li>
    </div>-->
</ul>