#container{
    margin-left:500px;
}
#banner{
    font-size: 60px;
    width: 429px;
    background-color: rgba(14, 10, 39, 0.596);
    transform-origin: 0 0;
    transform:rotate(90deg);
    margin-left: 70px;
}
#text{
    transform:rotate(180deg);
    letter-spacing: 40px;
    text-align: center;
    margin-right: 50px;
    color: white;
}
#messageContainer{
    display: flex;
    flex-flow: wrap;
    background-color: rgba(14, 10, 39, 0.301);
    height:420px;
    width:770px;
    padding: 5px;
    margin-left: 70px;
    margin-top: -70px;
}
#messageList{
    overflow-x: hidden;
    overflow-y: auto;
    height:320px;
    width:760px;
}
.message{
    background-color: rgb(184, 164, 56);
    color:white;
    text-align: center;
    padding:10px;
    margin: 10px;
    margin-bottom: 20px;
    height:40px;
    width:330px;
    -webkit-border-radius: 1em;
    word-wrap: break-word;
    font-size:15px;
    position: relative;
}
.row{
    display:flex;
  flex-direction:row;
  }
#secondRow{
    margin-top:20px;
}
#infoUser{
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size: small;
}
#infoTime{
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 10px;
}
.sendNewMessage{
    background-color: rgb(85, 74, 14);
    color:black;
    text-align: center;
    padding:10px;
    margin: 10px;
    margin-top: -10px;
    height:60px;
    width:600px;
    -webkit-border-radius: 1em;
    word-wrap: break-word;
    font-size:25px;
    position: relative;
    resize:none;
}
.sendBtn{
    background-color: #a70f0fbe;
    color:white;
    text-align: center;
    padding:10px;
    margin: 10px;
    margin-top: -10px;
    margin-left: -50px;
    height:60px;
    width:140px;
    -webkit-border-radius: 1em;
    word-wrap: break-word;
    font-size:25px;
    position:static;
    resize:none;
}
.sendBtn:hover{
    background-color: #ad4d4d;
    cursor: pointer;
}
.showMoreBtn{
    background-color: #a70f0f;
    color:white;
    text-align: center;
    padding:10px;
    margin-top: -20px;
    margin-left: 30px;
    height:20px;
    width:160px;
    -webkit-border-radius: 1em;
    word-wrap: break-word;
    font-size:15px;
    position: relative;
}
.showMoreBtn:hover{
    background-color: #ad4d4d;
    cursor: pointer;
}
#sendLabel{
    margin-top:10px;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
#loader{
    height: 100px;
    width: 150px;
    margin-left: 300px;
    margin-top: 150px;
}