<div id="container">
   <div id="banner">
       <div id="text">WALL</div>
   </div>
   <div id="messageList">
         <div class="row">
         <div>
            <div class="message">mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</div>
            <div class="message">12345678901 234567 890123456 789012345 67890123456789 012345678901234567890123456789012345678901234567890</div>
            <div class="message">The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de</div>
           
         </div>
         <div id="secondRow">
            <div class="message">text"</div>
            <div class="message">text"</div>
            <div class="message">text"</div>
         </div>
      </div>
   </div>

</div>