<div id="container">
   <div id="banner">
       <div id="text">WALL</div>
   </div>
   <div id="messageList">
         <div class="row">
         <div>

            <div class="message">
               The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                 <div id="infoUser">username</div>
                 <div id="infoTime">12-31-31 12:12</div>
            </div>
            <div class="message">
               The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                 <div id="infoUser">username</div>
                 <div id="infoTime">12-31-31 12:12</div>
            </div>
            <div class="message">
               The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                 <div id="infoUser">username</div>
                 <div id="infoTime">12-31-31 12:12</div>
            </div>
           
         </div>
         <div id="secondRow">

            <div class="message">
               The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                 <div id="infoUser">username</div>
                 <div id="infoTime">12-31-31 12:12</div>
            </div>
            <div class="message">
               The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                 <div id="infoUser">username</div>
                 <div id="infoTime">12-31-31 12:12</div>
            </div>
            <div class="message">
               The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                 <div id="infoUser">username</div>
                 <div id="infoTime">12-31-31 12:12</div>
            </div>
            
         </div>
      </div>

      <div class="showMoreBtn">
        show more messages
      </div>
      <div class="row">
      <textarea class="sendNewMessage"></textarea>
      <div class="sendBtn"></div>
      </div>
      
   </div>
