<div id="container">
   <div id="banner">
       <div id="text">WALL</div>
   </div>
   <div id="messageContainer">
      <div id="messageList">
         <div class="row" *ngIf="this.loaderFlag==1">
         <div>

            <div *ngFor="let message of this.messagesLeft" class="message">
                 <div>{{message.message}}</div>
                 <div id="infoUser">{{message.sender}}</div>
                 <div id="infoTime">{{message.date}}</div>
            </div>
           
         </div>
         <div id="secondRow">

            <div *ngFor="let message of this.messagesRight" class="message">
               <div>{{message.message}}</div>
               <div id="infoUser">{{message.sender}}</div>
               <div id="infoTime">{{message.date}}</div>
          </div>
           
         </div>
      </div>
      <img  id="loader" *ngIf="this.loaderFlag==0" src="../../assets/loading.gif">
   </div>

      <div class="showMoreBtn" (click)="showMore()">
        show more messages ({{this.numMessagesToShow}})
      </div>
      <div class="row">
       <textarea [(ngModel)]="message" class="sendNewMessage" maxlength="80"></textarea>
      
       <div class="sendBtn" (click)="postMessage()" *ngIf="this.timeLeft==0">
             <div id="sendLabel" >SEND</div>
             <div style="font-size:12px;">{{message!.length}}/80</div>
       </div>

       <div class="sendBtn" *ngIf="this.timeLeft!=0">
         <div style="margin: 15px;">{{this.timeLeft}}</div>
       </div>
      
   </div>
      
   </div>
