<div id="container">
    <div id="banner">
        <div id="text">PROFILE</div>
    </div>
    <div id="messageContainer">
        <div class="row">
            <div class="col">
                <img src='https://www.shutterstock.com/image-vector/book-icon-sign-design-260nw-553945819.jpg'>
                <button id="editBtn">new image</button>
          
                <div id="userContainer">
                  <div class="user">
                     username
                     <div id="removeUser">X</div>
                  </div>
                  <div class="user">
                     username
                     <div id="removeUser">X</div>
                  </div>
                  <div class="user">
                     username
                     <div id="removeUser">X</div>
                  </div>
                  <div class="user">
                     username
                     <div id="removeUser">X</div>
                  </div>
                  <div class="user">
                     username
                     <div id="removeUser">X</div>
                  </div>
                  <div class="user">
                     username
                     <div id="removeUser">X</div>
                  </div>
                  <div class="user">
                     username
                     <div id="removeUser">X</div>
                  </div>
                  <div class="user">
                     username
                     <div id="removeUser">X</div>
                  </div>
                  <div class="user">
                     username
                     <div id="removeUser">X</div>
                  </div>
                  <div class="user">
                     username
                     <div id="removeUser">X</div>
                  </div>
                  <div class="user">
                     username
                     <div id="removeUser">X</div>
                  </div>

                 
                </div>
            </div>
            <div class="col">
                <div id="messageList">
                  <div class="row">
                     <div>
  
              <div class="message">
                 The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                   <div id="infoUser">username</div>
                   <div id="infoTime">12-31-31 12:12</div>
              </div>
              <div class="message">
                 The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                   <div id="infoUser">username</div>
                   <div id="infoTime">12-31-31 12:12</div>
              </div>
              <div class="message">
                 The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                   <div id="infoUser">username</div>
                   <div id="infoTime">12-31-31 12:12</div>
              </div>
              <div class="message">
                 The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                   <div id="infoUser">username</div>
                   <div id="infoTime">12-31-31 12:12</div>
              </div>
             
                     </div>
                     <div id="secondRow">
  
              <div class="message">
                 The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                   <div id="infoUser">username</div>
                   <div id="infoTime">12-31-31 12:12</div>
              </div>
              <div class="message">
                 The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                   <div id="infoUser">username</div>
                   <div id="infoTime">12-31-31 12:12</div>
              </div>
              <div class="message">
                 The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                   <div id="infoUser">username</div>
                   <div id="infoTime">12-31-31 12:12</div>
              </div>
              <div class="message">
                 The word-wrap property allows long words to be able to be broken and wrap onto the next line. Show de
                   <div id="infoUser">username</div>
                   <div id="infoTime">12-31-31 12:12</div>
              </div>
              
                     </div>
                  </div>
               </div>
    
               <div>
                  <div class="showMoreBtn">show more messages</div>
          
                  <div class="row">
                      <textarea class="sendNewMessage"></textarea>
                      <div class="sendBtn"></div>
                  </div>
               </div>

            </div>
    </div>
</div>
     
 </div>