<div id="container">
    <div id="banner">
        <div id="text">NEW MESSAGE</div>
    </div>
    <div id="messageContainer">
      <div id="messageList">
        <div *ngIf="this.loaderFlag==1">
           <div *ngFor="let post of this.userPost">
                <div class="message">
                    <div style="margin-left:10px;">
                      {{post.sender}}
                      <div class="button delMessageBtn" (click)="this.deleteMessage(post.id);this.loaderFlag=1;"> X</div>
                      <div *ngIf="post.friendRequest=='false'" class="button sendMessageBtn" (click)="navigateProfile(post.sender)"> NEW MESSAGE</div>
                      <div *ngIf="post.friendRequest=='true'" class="button friendRequestBtn" (click)="this.acceptFriendRequest(post.sender,post.message)"> FRIEND REQUEST</div>
                      <div class="detail">{{post.date}}</div>
                     </div>
                  </div>
                  
           </div>
        </div>
        <img  id="loader" *ngIf="this.loaderFlag==0" src="../../assets/loading.gif">
      </div>

      <div class="button clearAllBtn" (click)="this.clearMail()"> clear mailbox</div>
  </div>
 </div>