<div id="container">
    <div id="banner">
        <div id="text">NEW MESSAGE</div>
    </div>
    <div id="messageContainer">
      <div id="messageList">
          
        <div class="message friend">
          <div style="margin-left:10px;">
            username
            <div class="button delMessageBtn"> X</div>
            <div class="button sendMessageBtn"> NEW MESSAGE</div>
            <div class="detail">12.11.2022 13:20</div>
           </div>
        </div>
        <div class="message friend">
            <div style="margin-left:10px;">
              username
              <div class="button delMessageBtn"> X</div>
              <div class="button sendMessageBtn"> NEW MESSAGE</div>
              <div class="detail">12.11.2022 13:20</div>
             </div>
          </div>
          <div class="message friend">
            <div style="margin-left:10px;">
              username
              <div class="button delMessageBtn"> X</div>
              <div class="button sendMessageBtn"> NEW MESSAGE</div>
              <div class="detail">12.11.2022 13:20</div>
             </div>
          </div>
        
        <div class="message">
            <div style="margin-left:10px;">
              username
              <div class="button delMessageBtn"> X</div>
              <div class="button friendRequestBtn"> FRIEND REQUEST</div>
              <div class="detail">12.11.2022 13:20</div>
             </div>
          </div>

          <div class="message friend">
            <div style="margin-left:10px;">
              username
              <div class="button delMessageBtn"> X</div>
              <div class="button sendMessageBtn"> NEW MESSAGE</div>
              <div class="detail">12.11.2022 13:20</div>
             </div>
          </div>
          
          <div class="message">
              <div style="margin-left:10px;">
                username
                <div class="button delMessageBtn"> X</div>
                <div class="button friendRequestBtn"> FRIEND REQUEST</div>
                <div class="detail">12.11.2022 13:20</div>
               </div>
            </div>

            <div class="message friend">
                <div style="margin-left:10px;">
                  username
                  <div class="button delMessageBtn"> X</div>
                  <div class="button sendMessageBtn"> NEW MESSAGE</div>
                  <div class="detail">12.11.2022 13:20</div>
                 </div>
              </div>
              
              <div class="message">
                  <div style="margin-left:10px;">
                    username
                    <div class="button delMessageBtn"> X</div>
                    <div class="button friendRequestBtn"> FRIEND REQUEST</div>
                    <div class="detail">12.11.2022 13:20</div>
                   </div>
                </div>

                <div class="message friend">
                    <div style="margin-left:10px;">
                      username
                      <div class="button delMessageBtn"> X</div>
                      <div class="button sendMessageBtn"> NEW MESSAGE</div>
                      <div class="detail">12.11.2022 13:20</div>
                     </div>
                  </div>
                  
                  <div class="message">
                      <div style="margin-left:10px;">
                        username
                        <div class="button delMessageBtn"> X</div>
                        <div class="button friendRequestBtn"> FRIEND REQUEST</div>
                        <div class="detail">12.11.2022 13:20</div>
                       </div>
                    </div>
          
      </div>

      <div class="button clearAllBtn"> clear mailbox</div>
  </div>
 </div>